html {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: lightseagreen;

  display: flex;
  flex: 1;
  /* flex-direction: row; */
  margin: 0px;
  padding: 0px;
  width: 100vw;
  height: 100vh;
  /* flex-direction: column; */
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
  /* width: 100vw;
  height: 100vh; */
  background-color: gray;
  display: flex;
  flex: 1;
}

.container {
  margin: 0px;
  padding: 0px;
  background-color: rebeccapurple;
  width: 100%;
  height: 100%;

  flex: 1;
  display: flex;
  flex-direction: row;
  /* overflow: auto; */
  /* scrollbar-color: #40566f rgba(0, 0, 0, 0.15); */
}

#root {
  display: flex;
  flex: 1;
  margin: 0px;
  background-color: rgb(95, 89, 102);
}

#rootEx {
  display: flex;
  flex-direction: column;
  /* flex-direction: row; */
  flex: 1;
  margin: 0px;
  padding: 0px;
  /* background-color: aqua; */
  /* probably not needed */
  width: 100vw;
  height: 100vh;
  /* not sure */
  /* align-items: stretch; */
}

a {
  color: white;
  text-decoration: none;
}

::-webkit-scrollbar {
  /* height: 12px;
  width: 12px; */
  /* background: gray; */
  /* just tint the background */
  background: rgba(0, 0, 0, 0.15);
}

::-webkit-scrollbar-thumb {
  background: #40566f;
  /* -webkit-border-radius: 1ex;
  -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.75); */
}

/* no effect */
::-webkit-scrollbar-corner {
  /* background: #000; */
  background: yellow;
}
